* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding-top: 70px; /* Adjust according to navbar height */
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
}

.content {
    padding: 20px;
    flex: 1;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #555;
}

.button {
    background-color: #008df1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0e8eea;
}

.image {
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* page Pendaftaran */

h2.text-center{
    margin-bottom: 30px;
}

button.btn.btn-primary{
    padding: 10px 50px;
}

button.btn.btn-primary:hover{
    background-color:aqua;
    color: black;
}